.ChainSearch {
   border-radius: 10px;
   background-color: white;
   box-shadow: var(--box_shadow);
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   height: 180px;
}

.ChainSearch__Search {
    padding: 1rem 1rem 1rem;
    border-bottom: 0.3px solid var(--bg_harsh);
}

.ChainSearch__Search p {
    font-weight: bold;
}

.imSearch {
    display: none;
}

.ChainSearch__Search input {
    background-color: inherit;
    border: none;
    width: 100%;
    font-size: 1.1rem;
    margin-top: 0.6rem;
    font-weight: light;
    padding: 0 0.4rem;
}

.ChainSearch__Search input:focus {
    outline: none;
}

.ChainSearch_DownDIV {
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.ChainSearch__Checkbox {
    font-size: 1rem;
    align-self: flex-start;
}

.ChainSearch__Button {
    background-color: rgb(208, 207, 207);
    padding: 0.6rem;
    border-radius: 10px;
    border: none;
    font-size: 100%;
    font-weight: 500;
    width: 100%;

}
/* Screens above 600px */

@media (min-width: 600px) {

    .ChainSearch {
        height: 140px;
    }
    .ChainSearch_DownDIV {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .ChainSearch__Button {
        max-width: 180px;
    }

    .ChainSearch__Checkbox {
        align-self: unset;
    }

    .ChainSearch__Search input, .ChainSearch__Search p , .imSearch{
        padding: unset;
        margin: unset;
    }
    
    .ChainSearch__Search {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .ChainSearch__Search input {
        width: 75%;
    }

    .imSearch {
        display: block;
        border: none;
        background: inherit;
    }

}

@media (min-width: 1100px) {
    .ChainSearch {
        height: 110px;
    }
}