.ChainSearch {
   border-radius: 10px;
   background-color: white;
   box-shadow: 0 3px 5px  rgba(54, 51, 51, 0.2); 
   display: flex;
   flex-direction: column;
   gap: 0.5rem;
   height: 180px;
}

.ChainSearch__Search {
    padding: 1rem 1rem 1rem;
    border-bottom: 2px solid var(--bg_harsh);
}

.ChainSearch__Search p {
    font-weight: bold;
}


.ChainSearch__Search input {
    background-color: inherit;
    border: none;
    width: 100%;
    font-size: 1.1rem;
    margin-top: 0.6rem;
    font-weight: lighter;
    padding: 0 0.4rem;
}

.ChainSearch__Checkbox {
    margin: 0.2rem 1rem;
    font-size: 1rem;
}

.ChainSearch__Button {
    background-color: rgb(208, 207, 207);
    padding: 0.6rem;
    margin: 0.5rem 1.25rem 0;
    border-radius: 5px;
    border: none;
    font-size: 100%;
    font-weight: 500;
}