.Hero, .Hero * {
    border: 1px solid red;
}

.Hero {
    height: 100vh;
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    justify-content: center;
    padding: 0 1rem;
}

.Hero__Container {
    border: 2px solid green;
    display: flex;
    flex-direction: column;
    max-width: 1400px;
}