
.ChainTiles {
    margin: 0 1rem 1.5rem;
    padding: 2rem 2rem 0 2rem;
    background-color: white;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 3px 5px  rgba(54, 51, 51, 0.2); 
}

.ChainTiles__name {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.ChainTiles__name-icon {
    font-size: xx-large;
}

.ChainTiles__ChainData {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    row-gap: 0.5rem;
}

.ChainTiles__ChainData-IDResult, .ChainTiles__ChainData-CurrencyResult {
    font-weight: bold;
}

.ChainTiles__Connect {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 2rem;
    gap: 1rem;
}

.ChainTiles__Connect-button1 {
    padding: 0.8rem 1.3rem;
    border: 0.2px solid var(--bg_harsh) ;
    color: var(--bg_blue);
    width: fit-content;
    border-radius: 30px;
    font-size: 100%;
    background-color: inherit;
}

.ChainTiles__Connect-button2 {
    background-color: inherit;
    font-size: 100%;
    border: none;
    width: 100%;
    font-weight: bold;
}

