:root {

  --bg_brown: rgb(229, 231, 235);
  --bg_blue: rgb(47, 128, 237);
  --bg_harsh: rgb(208, 207, 207);
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Helvetica Neue,Arial,Noto Sans,sans-serif,Apple Color Emoji,Segoe UI Emoji,Segoe UI Symbol,Noto Color Emoji;;

  scroll-behavior: smooth;
}